<div class="profile-container">
    <div class="profile-image">
        {{ $img := resources.Get .Site.Params.profilePicture }}
        <img src="{{ $img.RelPermalink }}" alt="{{ .Site.Params.author }}" class="rounded-avatar">
    </div>
    <div class="profile-name">
        <h2>{{ .Site.Params.author }}</h2>
    </div>
    <div class="profile-description">
        <p>{{ .Site.Params.description | markdownify }}</p>
    </div>
    <div class="profile-quote">
        <p>{{ .Site.Params.motto | markdownify }}</p>
    </div>
    <div class="social-links">
        {{ range .Site.Params.social }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="social-icon">
            <i class="{{ .icon }}"></i>
            {{ with .description }}
            <span class="social-description">{{ . }}</span>
            {{ end }}
        </a>
        {{ end }}
    </div>
</div> 
